<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="eu.scasefp7.eclipse.menu.main"
               label="S-CASE"
               mnemonic="S">
            <command
                  commandId="eu.scasefp7.eclipse.services.nlp.consumer.invoke"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.scasefp7.eclipse.services.nlp.consumer.invoke"
            name="Invoke NLP service">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.scasefp7.eclipse.services.nlp.consumer.InvokeNLPService"
            commandId="eu.scasefp7.eclipse.services.nlp.consumer.invoke">
      </handler>
   </extension> -->

</plugin>
