<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.scasefp7.eclipse.core.ui.dashboardItem" name="Dashboard command" schema="schema/eu.scasefp7.eclipse.core.ui.dashboardItem.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.scasefp7.eclipse.core.ui.perspectives.ScasePerspective"
            icon="icons/view16/s-case_16.png"
            id="eu.scasefp7.eclipse.core.ui.ScasePerspective"
            name="%perspective.name">
      </perspective>
   </extension>

  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="eu.scasefp7.eclipse.core.ui.ScasePerspective"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <showInPart id="org.eclipse.jdt.ui.PackageExplorer"/>
         <showInPart id="org.eclipse.team.ui.GenericHistoryView"/>
         <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <view
               id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
               ratio="0.5"
               relationship="bottom">
         </view>
      </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="eu.scasefp7.eclipse.category"
           name="%category.name">
     </category>
     <view
           category="eu.scasefp7.eclipse.category"
           class="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           icon="icons/view16/s-case_16.png"
           id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           name="%dashboard.name">
     </view>
     <category
           id="eu.scasefp7.eclipse.core.ui.customnavigator.category"
           name="Custom projects">
     </category>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="eu.scasefp7.eclipse.core.ui.preferences.GlobalPreferencePage"
           id="eu.scasefp7.eclipse.core.ui.preferences.global"
           name="%category.name" />
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.preferences.ProjectDomainPropertyPage"
           id="eu.scasefp7.eclipse.core.ui.propertyPages.ProjectDomainPropertyPage"
           name="%projectDomain.page">
		 <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="eu.scasefp7.eclipse.core.ui.scaseNature"/>
		     </adapt>         
         </enabledWhen>     
     </page>
  </extension>
  <!--
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="eu.scasefp7.eclipse.core.ui.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  -->
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="eu.scasefp7.eclipse.core.ui.preferences.GlobalPreferencePage"
           id="eu.scasefp7.eclipse.core.ui.preferences.global"
           name="%category.name" />
  </extension>
  
  <!-- Dashboard commands -->
  <extension
        point="eu.scasefp7.eclipse.core.ui.dashboardItem">
     <group
           name="Project setup">
        <command
              commandId="eu.scasefp7.eclipse.core.ui.addRemoveSCaseNature"
              label="Configure project">
        </command>
     </group>
     <group
           name="Static modeling">
        <command
              commandId="org.eclipse.ui.newWizard"
              label="Create requirements"
              tooltip="Create new textual requirements collection">
              <parameter name="newWizardId" value="eu.scasefp7.eclipse.reqeditor.wizards.CreateRqsWizard" />
        </command>
        <command
              commandId="org.eclipse.ui.file.import"
              label="Import UML Use case diagram"
              tooltip="Import UML use case diagram from an image">
              <parameter name="importWizardId" value="eu.scasefp7.eclipse.umlrec.importWizard" />
        </command>
     </group>
     <group
           name="Dynamic modeling">
        <command
              commandId="org.eclipse.ui.newWizard"
              label="Create storyboards"
              >
              <parameter name="newWizardId" value="eu.scasefp7.eclipse.storyboards.diagram.part.StoryboardsCreationWizardID" />
        </command>
        <command
              commandId="org.eclipse.ui.file.import"
              label="Import UML Activity diagram"
              tooltip="Import UML Activity diagram from an image">
              <parameter name="importWizardId" value="eu.scasefp7.eclipse.umlrec.importWizard" />
        </command>
     </group>
     <group
           name="Requirements compilation">
        <command
              commandId="eu.scasefp7.eclipse.core.commands.compileToOntology"
              label="Compile">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.reqeditor.commands.exportToOntology"
              label="Compile requirements">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.storyboards.commands.exportToOntology"
              label="Compile storyboards">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.core.commands.linkOntologies"
              label="Link ontologies">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.core.commands.exportToYaml"
              label="Export to YAML">
        </command>
     </group>
     <group
           name="Model-driven engineering">
        <command
              commandId="eu.scasefp7.eclipse.mde.ui.generateCode"
              label="Generate code">
        </command>
     </group>
     <group
           name="YouREST">
        <command
              commandId="eu.scasefp7.eclipse.core.ui.command12"
              label="Deploy">
        </command>
     </group>
  </extension>
  <extension
        id="scaseNature"
        name="S-Case Nature commands"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="eu.scasefp7.eclipse.core.ui.builder.SCaseNature">
        </run>
     </runtime>
     <builder
           id="eu.scasefp7.eclipse.core.ui.scaseBuilder">
     </builder>
  </extension>
  <extension
        id="scaseBuilder"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true">
        <run
              class="eu.scasefp7.eclipse.core.ui.builder.SCaseBuilder">
        </run>
     </builder>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="eu.scasefp7.eclipse.core.ui.category"
           name="S-Case Nature commands">
     </category>
     <command
           id="eu.scasefp7.eclipse.core.ui.addRemoveSCaseNature"
           name="Add/Remove S-Case Project Nature">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
        <command
              commandId="eu.scasefp7.eclipse.core.ui.addRemoveSCaseNature"
              label="Convert to S-Case project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <not>
                          <test
                                property="org.eclipse.core.resources.projectNature"
                                value="eu.scasefp7.eclipse.core.ui.scaseNature">
                          </test>
                       </not>
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="eu.scasefp7.eclipse.core.ui.addRemoveSCaseNature"
              label="Disable S-Case builder"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <test
                             property="org.eclipse.core.resources.projectNature"
                             value="eu.scasefp7.eclipse.core.ui.scaseNature">
                       </test>
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        id="rqsProblem"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="eu.scasefp7.eclipse.core.ui.builder.AddRemoveSCaseNatureHandler"
           commandId="eu.scasefp7.eclipse.core.ui.addRemoveSCaseNature">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/s-case_16x16.png"
           id="eu.scasefp7.eclipse.core.ui.image"
           natureId="eu.scasefp7.eclipse.core.ui.scaseNature">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="eu.scasefp7.eclipse.core.ui.category"
           name="S-Case">
     </category>
     <wizard
           category=" eu.scasefp7.eclipse.core.ui.category"
           class="eu.scasefp7.eclipse.core.ui.wizards.ScaseProjectNewWizard"
           finalPerspective="eu.scasefp7.eclipse.core.ui.ScasePerspective"
           icon="icons/s-case_16x16.png"
           id="eu.scasefp7.eclipse.core.ui.wizard2"
           name="S-Case Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.jdt.ui.PackageExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.eclipse.ui.views.ResourceNavigator">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="eu.scasefp7.eclipse.core.ui.navigator.ArtefactContentProvider"
           icon="icons/s-case_16x16.png"
           id="eu.scasefp7.eclipse.core.ui.artefact.content"
           labelProvider="eu.scasefp7.eclipse.core.ui.navigator.ArtefactLabelProvider"
           name="S-CASE Artefacts">
        <triggerPoints>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IWorkspaceRoot">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </triggerPoints>
        <possibleChildren>
           <or>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </possibleChildren>
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IWorkspaceRoot">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </enablement>
        <commonSorter
              class="eu.scasefp7.eclipse.core.ui.navigator.ArtefactSorter"
              id="eu.scasefp7.eclipse.core.ui.artefact.sorter">
        </commonSorter>
     </navigatorContent>
  </extension>
  
</plugin>
