<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.scasefp7.eclipse.core.ui.dashboardItem" name="Dashboard command" schema="schema/eu.scasefp7.eclipse.core.ui.dashboardItem.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.scasefp7.eclipse.core.ui.perspectives.ScasePerspective"
            icon="icons/view16/s-case_16.png"
            id="eu.scasefp7.eclipse.core.ui.ScasePerspective"
            name="%perspective.name">
      </perspective>
   </extension>

  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="eu.scasefp7.eclipse.core.ui.ScasePerspective"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <showInPart id="org.eclipse.jdt.ui.PackageExplorer"/>
         <showInPart id="org.eclipse.team.ui.GenericHistoryView"/>
         <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
      </perspectiveExtension>
      
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
         <showInPart id="org.eclipse.jdt.ui.PackageExplorer"/>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <view
               id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
               ratio="0.5"
               relationship="bottom">
         </view>
      </perspectiveExtension>
     </extension>
  
  <extension
        point="org.eclipse.ui.views">
     <category
           id="eu.scasefp7.eclipse.category"
           name="%category.name">
     </category>
     <view
           category="eu.scasefp7.eclipse.category"
           class="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           icon="icons/view16/s-case_16.png"
           id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           name="%dashboard.name">
     </view>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/view16/s-case_16.png"
           id="eu.scasefp7.eclipse.core.ui.natureImage"
           natureId="eu.scasefp7.eclipse.core.scaseNature">
     </image>
  </extension>
  
  <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.scasefp7.eclipse.category"
            name="S-CASE">
      </category>
      <wizard
            name="S-CASE Project"
            icon="icons/view16/s-case_16.png"
            category="eu.scasefp7.eclipse.category"
            class="eu.scasefp7.eclipse.core.ui.wizards.NewScaseProjectWizard"
            finalPerspective="eu.scasefp7.eclipse.core.ui.ScasePerspective"
            hasPages="true"
            id="eu.scasefp7.eclipse.core.ui.newProjectWizard"
            project="true">
      	<description>Create a new S-CASE project to specify requirements for web services</description>
      </wizard>
  </extension>
  
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="eu.scasefp7.eclipse.core.ui.preferences.GlobalPreferencePage"
           id="eu.scasefp7.eclipse.core.ui.preferences.global"
           name="%category.name">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="eu.scasefp7.eclipse.core.scaseNature"/>
		     </adapt>         
         </enabledWhen>
     </page>
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.preferences.ProjectDomainPropertyPage"
           id="eu.scasefp7.eclipse.core.ui.propertyPages.ProjectDomainPropertyPage"
           name="%projectDomain.page">
		 <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="eu.scasefp7.eclipse.core.scaseNature"/>
		     </adapt>         
         </enabledWhen>     
     </page>
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.preferences.PreferenceConstantsPage"
           id="eu.scasefp7.eclipse.core.ui.page1"
           name="Variables preference page">
        <enabledWhen>
           <adapt
                 type="org.eclipse.core.resources.IProject">
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="eu.scasefp7.eclipse.core.scaseNature">
              </test>
           </adapt>
        </enabledWhen>
     </page>
  </extension>
  <!--
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="eu.scasefp7.eclipse.core.ui.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  -->
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="eu.scasefp7.eclipse.core.ui.preferences.GlobalPreferencePage"
           id="eu.scasefp7.eclipse.core.ui.preferences.global"
           name="%category.name" />
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.preferences.InfrastructureServicesPreferencePage"
           id="eu.scasefp7.eclipse.core.ui.preferencePages.InfrastructureServicesPreferencePage"
           name="%infrastructureServices.page">
     </page>
      <!--
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.StringVariablePreferencePage"
           id="eu.scasefp7.eclipse.core.ui.StringVariablePreferencePage"
           name="String variable preference page">
     </page>-->
     <page
           category="eu.scasefp7.eclipse.core.ui.preferences.global"
           class="eu.scasefp7.eclipse.core.ui.preferences.PreferenceConstantsPage"
           id="eu.scasefp7.eclipse.core.ui.page1"
           name="Variables preference page">
     </page>
  </extension>
  
  <!-- Dashboard commands -->
  <extension
        point="eu.scasefp7.eclipse.core.ui.dashboardItem">
 <!--    <group
           name="Project setup">
        <command
              commandId="eu.scasefp7.eclipse.core.commands.addRemoveScaseNature"
              error="Project configuration failed"
              label="Configure project"
              notification="Project successfully configured">
        </command>
     </group> -->
     <group
           name="Static modeling">
        <command
              commandId="org.eclipse.ui.newWizard"
              label="Create requirements"
              tooltip="Create a new textual requirements collection">
              <parameter name="newWizardId" value="eu.scasefp7.eclipse.reqeditor.wizards.CreateRqsWizard" />
        </command>
        <command
              commandId="org.eclipse.ui.file.import"
              label="Import UML Use case diagram"
              tooltip="Import UML use case diagram from an image">
              <parameter name="importWizardId" value="eu.scasefp7.eclipse.umlrec.importWizard" />
        </command>
     </group>
     <group
           name="Dynamic modeling">
        <command
              commandId="org.eclipse.ui.newWizard"
              label="Create storyboards"
              tooltip="Create a new storyboard to describe system behaviour">
              <parameter name="newWizardId" value="eu.scasefp7.eclipse.storyboards.diagram.part.StoryboardsCreationWizardID" />
        </command>
        <command
              commandId="org.eclipse.ui.file.import"
              label="Import UML Activity diagram"
              tooltip="Import UML Activity diagram from an image">
              <parameter name="importWizardId" value="eu.scasefp7.eclipse.umlrec.importWizard" />
        </command>
     </group>
      <group
           name="Requirements compilation">
 <!--       <command
              commandId="eu.scasefp7.eclipse.core.commands.compileToOntology"
              error="Requrements compilation failed."
              label="Compile"
              notification="Requrements compiled successfully."
              tooltip="Compile requirements in text or storyboards">
        </command>-->
        <command
              commandId="eu.scasefp7.eclipse.reqeditor.commands.exportToOntology"
              error="Requrements compilation failed."
              label="Compile requirements"
              notification="Requrements compiled successfully."
              tooltip="Compile textual requirements">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.storyboards.commands.exportAllToOntology"
              error="Requrements compilation failed."
              label="Compile storyboards"
              notification="Requrements compiled successfully."
              tooltip="Compile storyboard requirements">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.core.commands.linkOntologies"
              label="Link ontologies"
              notification="Ontologies linked successfully."
              tooltip="Link compiled requirements and storyboards"
              error="Ontologies linking failed.">
        </command>
     </group>
     <group
           name="Model-driven engineering">
        <command
              commandId="eu.scasefp7.eclipse.core.commands.exportToYaml"
              label="Export to YAML"
              notification="YAML export complete."
              error="YAML export failed."
              tooltip="Create a YAML description of the service resources">
        </command>
        <command
              commandId="eu.scasefp7.eclipse.mde.ui.generateCode"
              error="Code generation failed."
              label="Generate code"
              tooltip="Generate code for the web service">
        </command>
     </group>
     <group
           name="YouREST">
        <command
              commandId="eu.scasefp7.eclipse.core.ui.command12"
              label="Deploy">
        </command>
     </group>
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="eu.scasefp7.eclipse.core.commands.linkOntologies" id="eu.scasefp7.eclipse.core.menus.linkOntologies">
                  <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*" />
				             </adapt>
				            </iterate>
				           </with>
                  </visibleWhen>
            </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="eu.scasefp7.eclipse.core.commands.exportToYaml" id="eu.scasefp7.eclipse.core.menus.exportToYaml"/>
      </menuContribution>
   </extension>
  
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="eu.scasefp7.eclipse.core.commands.addRemoveScaseNature"
               icon="icons/view16/s-case_16.png"
               label="Convert to S-CASE project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="eu.scasefp7.eclipse.core.scaseNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="eu.scasefp7.eclipse.core.commands.addRemoveScaseNature"
               icon="icons/view16/s-case_16.png"
               label="Remove S-CASE nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="eu.scasefp7.eclipse.core.scaseNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.jdt.ui.PackageExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.eclipse.ui.views.ResourceNavigator">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="eu.scasefp7.eclipse.core.ui.artefact.content">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="eu.scasefp7.eclipse.core.ui.navigator.ArtefactContentProvider"
           icon="icons/s-case_16x16.png"
           id="eu.scasefp7.eclipse.core.ui.artefact.content"
           labelProvider="eu.scasefp7.eclipse.core.ui.navigator.ArtefactLabelProvider"
           name="S-CASE Artefacts">
        <triggerPoints>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IWorkspaceRoot">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </triggerPoints>
        <possibleChildren>
           <or>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </possibleChildren>
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IWorkspaceRoot">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefact">
              </instanceof>
              <instanceof
                    value="eu.scasefp7.eclipse.core.ui.navigator.IArtefactGroup">
              </instanceof>
           </or>
        </enablement>
        <commonSorter
              class="eu.scasefp7.eclipse.core.ui.navigator.ArtefactSorter"
              id="eu.scasefp7.eclipse.core.ui.artefact.sorter">
        </commonSorter>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="eu.scasefp7.eclipse.core.ui.commands.openBrowser"
           name="Open Browser">
        <commandParameter
              id="eu.scasefp7.eclipse.core.ui.url"
              name="eu.scasefp7.eclipse.core.ui.url"
              optional="true">
        </commandParameter>
     </command>
     <command
           id="eu.scasefp7.eclipse.core.ui.commands.launchExternal"
           name="LaunchExternalProgram">
        <commandParameter
              id="eu.scasefp7.eclipse.core.ui.location"
              name="eu.scasefp7.eclipse.core.ui.location"
              optional="true">
        </commandParameter>
        <commandParameter
              id="eu.scasefp7.eclipse.core.ui.arguments"
              name="eu.scasefp7.eclipse.core.ui.arguments"
              optional="true">
        </commandParameter>
        <commandParameter
              id="eu.scasefp7.eclipse.core.ui.workingDirectory"
              name="eu.scasefp7.eclipse.core.ui.workingDirectory"
              optional="true">
        </commandParameter>
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="eu.scasefp7.eclipse.core.ui.toolbar1">
           <command
                 commandId="eu.scasefp7.eclipse.core.ui.commands.openBrowser"
                 icon="icons/view16/s-case_16.png"
                 style="push">
              <parameter
                    name="eu.scasefp7.eclipse.core.ui.url"
                    value="http://s-case.github.io/">
              </parameter>
           </command>
           <command
                 commandId="eu.scasefp7.eclipse.core.ui.commands.launchExternal"
                 style="push">
              <parameter
                    name="eu.scasefp7.eclipse.core.ui.location"
                    value="C:\\Windows\\system32\\notepad.exe">
              </parameter>
              <parameter
                    name="eu.scasefp7.eclipse.core.ui.arguments"
                    value=" ">
              </parameter>
              <parameter
                    name="eu.scasefp7.eclipse.core.ui.workingDirectory"
                    value=" ">
              </parameter>
           </command>
        </toolbar>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="eu.scasefp7.eclipse.core.ui.handlers.OpenBrowserHandler"
           commandId="eu.scasefp7.eclipse.core.ui.commands.openBrowser">
     </handler>
     <handler
           class="eu.scasefp7.eclipse.core.ui.handlers.LaunchExternalProgramHandler"
           commandId="eu.scasefp7.eclipse.core.ui.commands.launchExternal">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.trace.traceComponents">
     <component
           id="eu.scasefp7.eclipse.core.trace"
           label="S-CASE Core">
        <bundle
              name="eu.scasefp7.eclipse.*">
        </bundle>
     </component>
  </extension>
  <extension
        point="org.eclipse.core.variables.dynamicVariables">
     <variable
           description="Customer UUID"
           name="scase_fco_cust_uuid"
           resolver="eu.scasefp7.eclipse.core.ui.DynamicVariableResolver">
     </variable>
     <variable
           description="Username"
           name="scase_fco_cust_name"
           resolver="eu.scasefp7.eclipse.core.ui.DynamicVariableResolver">
     </variable>
     <variable
           description="Password"
           name="scase_fco_cust_pwd"
           resolver="eu.scasefp7.eclipse.core.ui.DynamicVariableResolver">
     </variable>
     <variable
           description="SSH key"
           name="scase_fco_ssh_key"
           resolver="eu.scasefp7.eclipse.core.ui.DynamicVariableResolver">
     </variable>
  </extension>
</plugin>
