<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.scasefp7.eclipse.core.ui.perspectives.ScasePerspective"
            icon="icons/s-case_16x16.png"
            id="eu.scasefp7.eclipse.core.ui.ScasePerspective"
            name="%perspective.name">
      </perspective>
   </extension>

  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="eu.scasefp7.eclipse.core.ui.ScasePerspective"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <showInPart id="org.eclipse.jdt.ui.PackageExplorer"/>
         <showInPart id="org.eclipse.team.ui.GenericHistoryView"/>
         <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="eu.scasefp7.eclipse.core.ui.ScasePerspective">
         <view
               id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="eu.scasefp7.eclipse.category"
           name="%category.name">
     </category>
     <view
           category="eu.scasefp7.eclipse.core.ui"
           class="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           icon="icons/s-case_16x16.png"
           id="eu.scasefp7.eclipse.core.ui.views.Dashboard"
           name="%dashboard.name">
     </view>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="eu.scasefp7.eclipse.core.ui.preferences.ProjectDomainPropertyPage"
           id="eu.scasefp7.eclipse.core.ui.propertyPages.ProjectDomainPropertyPage"
           category=""
           name="Domain">
		 <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>     
     </page>
  </extension>

</plugin>
