<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category id="eu.scasefp7.eclipse.core.commands.category" name="Core Commands Category"/>
      <command categoryId="eu.scasefp7.eclipse.core.commands.category" id="eu.scasefp7.eclipse.core.commands.testSetup" name="Test project setup"/>
      <command
            categoryId="eu.scasefp7.eclipse.core.commands.category"
            id="eu.scasefp7.eclipse.core.commands.compileStaticRequirements"
            name="Compile Static Requirements">
      </command>
      <command
            categoryId="eu.scasefp7.eclipse.core.commands.category"
            id="eu.scasefp7.eclipse.core.commands.compileDynamicRequirements"
            name="Compile Dynamic Requirements">
      </command>
      <command
            categoryId="eu.scasefp7.eclipse.core.commands.category"
            id="eu.scasefp7.eclipse.core.commands.linkOntologies"
            name="Link Ontologies">
      </command>
      <command
            categoryId="eu.scasefp7.eclipse.core.commands.category"
            id="eu.scasefp7.eclipse.core.commands.exportToYaml"
            name="Export ontology to YAML">
      </command>
      <command
            categoryId="eu.scasefp7.eclipse.core.commands.category"
            id="eu.scasefp7.eclipse.core.commands.addRemoveScaseNature"
            name="Add/remove S-CASE project nature">
      </command>

   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="eu.scasefp7.eclipse.core.handlers.CompileStaticRequirementsHandler" commandId="eu.scasefp7.eclipse.core.commands.compileStaticRequirements"/>
      <handler class="eu.scasefp7.eclipse.core.handlers.CompileDynamicRequirementsHandler" commandId="eu.scasefp7.eclipse.core.commands.compileDynamicRequirements"/>
      <handler class="eu.scasefp7.eclipse.core.handlers.LinkOntologiesHandler" commandId="eu.scasefp7.eclipse.core.commands.linkOntologies"/>
      <handler class="eu.scasefp7.eclipse.core.handlers.LinkOntologiesHandler" commandId="eu.scasefp7.eclipse.core.commands.testSetup">
      	 <enabledWhen>
      	 	<with variable="selection">
      	 		<iterate>
                    <adapt type="org.eclipse.core.resources.IResource">
                       <not>
                         <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
                       </not>
                    </adapt>
             	</iterate>
                <count value="1" />
		    </with>         
		 </enabledWhen>
      </handler>
      <handler class="eu.scasefp7.eclipse.core.handlers.OntologyToYamlHandler" commandId="eu.scasefp7.eclipse.core.commands.exportToYaml"/>
      <handler class="eu.scasefp7.eclipse.core.handlers.AddRemoveScaseNatureHandler" commandId="eu.scasefp7.eclipse.core.commands.addRemoveScaseNature"/>
   </extension>
  
   <extension
        id="scaseNature"
        name="S-CASE project nature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run class="eu.scasefp7.eclipse.core.builder.ScaseNature"/>
     </runtime>
     <builder
           id="eu.scasefp7.eclipse.core.scaseBuilder">
     </builder>
  </extension>
  <extension
        id="scaseBuilder"
        name="S-CASE project builder"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true">
        <run
              class="eu.scasefp7.eclipse.core.builder.ScaseProjectBuilder">
        </run>
     </builder>
  </extension>
  
  <extension
        id="problemMarker"
        name="Requirements problem"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
  </extension>
</plugin>
